﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <ul>
        @foreach (var producto in Model)
        {
            <li class="col-12" alert-dark">@producto.nombre</li>
            <li>@producto.precio</li>
            <li>@producto.descripcion</li>
        }
    </ul>
</div>
